.t* 
terraform.*
terraform.tfstate
terraform.tfstate.*
.terraform.* 

*/terraform.* 
*/.terraform
*/.terraform.*

mykey
mykey.pub
tws_terraform_learnings/ec2-setup/terra-key-ec2
tws_terraform_learnings/ec2-setup/terra-key-ec2.pub
